.bar{
    display: block;
    width: 100%;
    height: 10px;
    position: relative;

    span{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;

        transition: 0.1s;
    }

    &.shields{
        span{
            background-color: lightblue;
        }
    }

    &.hull{
        span{
            background-color: yellow;
        }
    }

    &.engines{
        span{
            background-color: orange;
        }
    }

    &.weapons{
        span{
            background-color: red;
        }
    }
}

.log{
    color: white;
    background: black;
    padding: 5%;
    max-width: 500px;
    margin-top: 30px;
    max-height: 200px;
    overflow: scroll;
}

body{
    font-family: 'Comfortaa', sans-serif;

}