<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= foo %></title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap" rel="stylesheet">
  </head>
  <body>
      <div id="viewscreen">

      </div>

      <div class="bar shields" id="shields">
          <span></span>
      </div>
      <div class="bar hull" id="hull">
        <span></span>
      </div>
      <div class="bar engines" id="engines">
        <span></span>
      </div>

      <div id="log" class="log"></div>
  </body>
</html>